html,body{ margin:0; padding:0; height:100%; width:100%; background-color:black;   text-align: center; }

#container{
  background-color: black;
  /* height: 100%; */
  display: block;
  /* width: 100%; */
  position: absolute;
}

#background{
  position: fixed;
  height:100%;
  width:100%;

  background-blend-mode: darken;
}

#right-text-header {
  color: rgb(250, 250, 250);
  left: 5%;
  top: 12%;
}
 
.countdown {
color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    opacity: 0.75;
    bottom: 2%;
    left: 25%;
    width: 50%;
    max-width: 500px;
  position:fixed;
}





